@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');



html {
    scroll-behavior: smooth;
    margin: auto;
    background-image: url("../images/cherry-blossom.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

body {
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    color: #EFA1B3;
    line-height: 1.5;
    
}


section {
    
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  grid-auto-flow: dense;
  
}

h1{
    font-family: 'Shrikhand', cursive;
    font-size: 60px;
    color: #EFA1B3;
    line-height: 1.5;
}

h2 {
    font-family: 'Shrikhand', cursive;
    font-size: 45px;
    color: #EFA1B3;
    line-height: 1.5;
}



header {

    text-align: center;
    padding: 0 70px;
}



#intro-title {
    text-align: center;
    grid-column: 2 / span 11;
}
#intro-image {
    grid-column: 2 / span 11;
    text-align: center;
}

#about-title {
    text-align: center;
    grid-column: 2 / span 11;
}

#about-description {
    text-align: left;
    grid-column: 3 / span 10;
    width: 1128px;
    margin: 0 72px;
}

#history-description {
    text-align: left;
    grid-column: 2 / span 5;
    
}
#history {
    grid-column: 7 / span 11;
    text-align: center;
    
}

#food {
    grid-column: 2 / span 5;
    text-align: center;
}

#food-description {
    grid-column: 7 / span 11;
    text-align: left;
}

#burger-description {
    grid-column: 2 / span 5;
    text-align: left;
}

#burger {
    grid-column: 7 / span 11;
    text-align: center;
}

#donut {
    grid-column: 2 / span 5;
    text-align: center;
}

#donut-description {
    grid-column: 7 / span 11;
    text-align: left;
}

#mochi-description {
    grid-column: 2 / span 5;
    text-align: left;
}

#mochi {
    grid-column: 7 / span 11;
    text-align: center;
}

#taiko {
    grid-column: 2 / span 5;
    text-align: center;
}

#taiko-description {
    grid-column: 7 / span 11;
    text-align: left;
}

#performance {
    grid-column: 2 / span 5;
    text-align: center;
}

#performance-description {
    grid-column: 7 / span 11;
    text-align: left;
}

#cosplay {
    grid-column: 2 / span 5;
    text-align: center;
}

#cosplay-description {
    grid-column: 7 / span 11;
    text-align: left;
}

#parade {
    grid-column: 2 / span 5;
    text-align: center;
}

#parade-description {
    grid-column: 7 / span 11;
    text-align: left;
}

#art {
    grid-column: 2 / span 5;
    text-align: center;
}

#art-description {
    grid-column: 7 / span 11;
    text-align: left;
}





a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #04AA6D;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }